<h1>Comic books library</h1>
<div class="comics">
  <h2>Comics list</h2>
  <ul class="comics-list">
    {{#each comics key="@index" as |comic|}}
      <comics-list-item @comic={{comic}} 
                        @selectItem={{action selectComic}} 
                        @deleteItem={{action deleteComic}} />
    {{else}}
      Sorry, no comic found
    {{/each}}
  </ul>
</div>
<button onclick={{action newComic}}>New Comic</button>
{{#if current}}
  <comic-book @comic={{current}} @saveComic={{action saveComic}} />
{{else}}
  <p id="no-selected-comic">
    Please select one comic book for detailled information.
  </p>
{{/if}}